body{
	background: #fffbf7;
}

h1 {

    color:#025157;
    font-family: 'Rammetto One', cursive;
    font-size: 40px;
    margin-bottom: 24px;
    text-align: center;
}
 
.capterra{
	text-align: center;
}

form{
	text-align: center;
}

h4{
	text-align: center;
	color:#46484c;
}

button{
	color:#fff ;
	background: #025157;
}
nav{
	display: inline-block;
}

.header>*{
	margin:40px 20px 0 20px;
	vertical-align: middle;
  	display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
}
li{
	vertical-align: middle;
	display: inline;
	padding: 25px;
	color: #025157;
}
.header>*{
  vertical-align: middle;
}
.logo{
	vertical-align: middle;
	width: 20%;
	font-size: 16px;
	height: 100%;
	margin-bottom: 0;
}
.navbar{
	vertical-align: middle;
	width: 50%;
	font-size: 16px;
	text-align: center;
	 
}
.actions{
	font-size: 14px;
	text-align: right;
	float: right;
	/*
	vertical-align: middle;
	width: 30%;
	font-size: 14px;
	display: inline;
	padding-right: 10px;
	padding-left: 10px; 
	*/
}
.startfree{
	color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
    margin-right: 10px;
}
.inmail{
	text-align: right;
    width: 250px;
    height: 55px;
    padding: 0px;
    border: 1px solid darkgrey;
    outline: 0px;
    border-radius: 8px 0px 0px 8px;
    margin-right: -3px;
}
.butMail{
    width: 130px;
    height: 55px;
    padding: 10px;
    outline: 0px;
    border: 2px;
    border-radius: 0px 8px 8px 0px;
    margin-left: -2px;
}
a{
	 text-decoration: none;
	 color: gray;
}
.login{
	margin-left:10px ;
	color: #67b54b;
}
.creditCard{
	text-align: center;
	color: #8b8b8bcc;
}